.c84dc4e86cee3a353e641db551a4c3-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 315px;
  object-fit: cover;
}
.blog-child {
  position: absolute;
  top: 312px;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 4287px;
}
.blog-post {
  position: absolute;
  top: 380px;
  left: 580px;
  line-height: 130%;
  color: #f8f2f2;
}
.blog-item {
  position: absolute;
  top: 345px;
  left: 526px;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-100);
  width: 388px;
  height: 121px;
  mix-blend-mode: overlay;
}
.blog-inner {
  position: absolute;
  top: 496px;
  left: 65px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-200);
  width: 1310px;
  height: 4013px;
}
.stepped-reckoner-and,
.zero-generationcomputing-machi,
.zeroth-generation-the {
  position: absolute;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zero-generationcomputing-machi {
  top: 565px;
  left: 150px;
  width: 1126px;
  height: 92px;
}
.stepped-reckoner-and,
.zeroth-generation-the {
  top: 810px;
  left: 140px;
  width: 1134px;
}
.stepped-reckoner-and {
  top: 1399px;
  width: 1146px;
}
.types-of-cybercrime {
  position: absolute;
  top: 2054px;
  left: 510px;
  line-height: 130%;
  text-align: left;
}
.identity-theft-the {
  position: absolute;
  top: 2164px;
  left: 158px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1124px;
}
.cyber-bullying-and,
.hacking-sophisticated-hacking,
.piracy-illegal-downloading,
.scammers-and-phishers {
  position: absolute;
  top: 2536px;
  left: 148px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1144px;
}
.cyber-bullying-and,
.piracy-illegal-downloading,
.scammers-and-phishers {
  top: 2902px;
  left: 143px;
  width: 1154px;
}
.cyber-bullying-and,
.scammers-and-phishers {
  top: 3216px;
  left: 150px;
  width: 1139px;
}
.scammers-and-phishers {
  top: 3559px;
  left: 143px;
  width: 1112px;
}
.information-processing-cycle {
  margin: 0;
}
.information-processing-cycle-container1 {
  line-break: anywhere;
  width: 100%;
}
.information-processing-cycle-container {
  position: absolute;
  top: 3954px;
  left: 143px;
  line-height: 130%;
  display: flex;
  align-items: center;
  width: 1154px;
}
.blog-child1 {
  position: absolute;
  top: 4557px;
  left: 0;
  width: 1440px;
  height: 4420px;
}
.blog-child2,
.blog-child3 {
  position: absolute;
  top: 2046px;
  left: 474px;
  border-radius: var(--br-6xl);
  width: 491px;
  height: 68px;
  mix-blend-mode: overlay;
}
.blog-child3 {
  top: 523px;
  left: 152px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-300);
  width: 1136px;
  height: 193px;
}
.blog-child4,
.blog-child5 {
  position: absolute;
  top: 92px;
  left: 206px;
  border-radius: var(--br-6xl);
  width: 228px;
  height: 101px;
}
.blog-child5 {
  top: 91px;
  left: 954px;
  width: 224px;
  height: 97px;
}
.flex-blog1,
.home3 {
  position: absolute;
  top: 119px;
  font-size: var(--font-size-17xl);
  line-height: 130%;
  text-align: left;
}
.home3 {
  left: 262px;
  color: #f4eeee;
}
.flex-blog1 {
  left: 1008px;
  color: var(--color-whitesmoke-200);
}
.blog-child6 {
  position: absolute;
  top: 92px;
  left: 586px;
  border-radius: var(--br-6xl);
  width: 251px;
  height: 101px;
}
.it111-blog1 {
  position: absolute;
  top: 125px;
  left: 609px;
  font-size: var(--font-size-13xl);
  line-height: 130%;
  text-align: left;
  display: flex;
  align-items: center;
  width: 245px;
  height: 36px;
}
.blog-child7 {
  position: absolute;
  top: 4646px;
  left: 421px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray);
  width: 566px;
  height: 106px;
}
.output-learnings-every {
  position: absolute;
  top: 4678px;
  left: 456px;
  font-size: var(--font-size-13xl);
  line-height: 130%;
  text-align: left;
}
.blog-child10,
.blog-child11,
.blog-child12,
.blog-child13,
.blog-child8,
.blog-child9 {
  position: absolute;
  top: 4858px;
  left: 76px;
  border-radius: var(--br-11xl);
  width: 1256px;
  height: 562px;
}
.blog-child10,
.blog-child11,
.blog-child12,
.blog-child13,
.blog-child9 {
  top: 5525px;
  height: 599px;
}
.blog-child10,
.blog-child11,
.blog-child12,
.blog-child13 {
  top: 6211px;
}
.blog-child11,
.blog-child12,
.blog-child13 {
  top: 6911px;
  left: 72px;
  height: 590px;
}
.blog-child12,
.blog-child13 {
  top: 7621px;
}
.blog-child13 {
  top: 8319px;
  height: 438px;
}
.blog-child14,
.blog-child15,
.blog-child17,
.blog-child18,
.blog-child19,
.blog-child20 {
  position: absolute;
  top: 4836px;
  left: 76px;
  border-radius: var(--br-11xl);
  width: 1256px;
  height: 368px;
}
.blog-child15,
.blog-child17,
.blog-child18,
.blog-child19,
.blog-child20 {
  top: 5524.5px;
}
.blog-child17,
.blog-child18,
.blog-child19,
.blog-child20 {
  top: 6198px;
}
.blog-child18,
.blog-child19,
.blog-child20 {
  top: 6897px;
  left: 72px;
}
.blog-child19,
.blog-child20 {
  top: 7602px;
}
.blog-child20 {
  top: 8319px;
  height: 196px;
}
.chapter-i-what-container {
  position: absolute;
  top: 4876px;
  left: 120px;
  font-size: var(--font-size-13xl);
  line-height: 130%;
  text-align: left;
}
.by-grasping-the,
.studying-computing-in {
  position: absolute;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.by-grasping-the {
  top: 5010px;
  left: 120px;
  color: var(--color-whitesmoke-100);
  width: 1087px;
}
.studying-computing-in {
  top: 5229px;
  left: 138px;
  width: 1150px;
}
.chapter-ii-professions-container {
  position: absolute;
  top: 5563px;
  left: 120px;
  font-size: var(--font-size-13xl);
  line-height: 130%;
  text-align: left;
}
.by-studying-chapter-container,
.into-chapter-2,
.into-chapter-3-container {
  position: absolute;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  display: flex;
  align-items: center;
}
.into-chapter-2 {
  top: 5697px;
  left: 180px;
  justify-content: center;
  width: 1048px;
}
.by-studying-chapter-container,
.into-chapter-3-container {
  top: 5924px;
  left: 158px;
  width: 1124px;
}
.into-chapter-3-container {
  top: 6340px;
  left: 159px;
  width: 1082px;
}
.chapterhapter-iii-information,
.through-studying-in {
  position: absolute;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chapterhapter-iii-information {
  top: 6243px;
  left: 98.1px;
  font-size: var(--font-size-13xl);
  width: 1162px;
  height: 68px;
  transform: rotate(0.08deg);
  transform-origin: 0 0;
}
.through-studying-in {
  top: 6606px;
  left: 180px;
  font-size: var(--font-size-5xl);
  width: 1040px;
}
.chapter-iv-introduction {
  position: absolute;
  top: 6945px;
  left: 120px;
  font-size: var(--font-size-13xl);
  line-height: 130%;
}
.studying-chapter-4,
.through-active-engagement-container {
  position: absolute;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  display: flex;
  align-items: center;
}
.through-active-engagement-container {
  top: 7049px;
  left: 124px;
  width: 1110px;
  height: 171px;
}
.studying-chapter-4 {
  top: 7305px;
  left: 128px;
  justify-content: center;
  width: 1129px;
}
.chapter-v-number {
  position: absolute;
  top: 7656px;
  left: 120px;
  font-size: var(--font-size-13xl);
  line-height: 130%;
}
.studying-chapter-5,
.through-active-involvement {
  position: absolute;
  top: 7761px;
  left: 128px;
  font-size: var(--font-size-5xl);
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1101px;
}
.studying-chapter-5 {
  top: 8010px;
  left: 141px;
  width: 1117px;
}
.blog-child21 {
  position: absolute;
  top: 8977px;
  left: 0;
  width: 1440px;
  height: 890px;
}
.chapter-vi-basic,
.engaging-with-chapter {
  position: absolute;
  top: 8366px;
  left: 120px;
  font-size: var(--font-size-13xl);
  line-height: 130%;
}
.engaging-with-chapter {
  top: 8565px;
  left: 106px;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1170px;
}
.blog-child22 {
  position: absolute;
  top: 9035.8px;
  left: 62.9px;
  border-radius: var(--br-6xl);
  background-color: var(--color-darkslategray-200);
  width: 430.2px;
  height: 89.2px;
  transform: rotate(-0.52deg);
  transform-origin: 0 0;
}
.challenge-me-the {
  margin: 0;
  color: var(--color-white);
}
.challenge-me-the-container {
  position: absolute;
  top: 8979px;
  left: 72px;
  font-size: var(--font-size-17xl);
  line-height: 130%;
  text-align: left;
  display: flex;
  align-items: center;
  width: 1124px;
  height: 376px;
  color: var(--color-gray);
}
.blog-child23 {
  position: absolute;
  top: 9216px;
  left: 137px;
  border-radius: var(--br-11xl);
  width: 1166px;
  height: 461px;
}
.one-of-the {
  position: absolute;
  top: 9292px;
  left: 171px;
  font-size: var(--font-size-17xl);
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1097px;
}
.blog1 {
  position: relative;
  width: 100%;
  height: 9867px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-elephant);
}
